<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许安装未知来源 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 拨打电话权限 -->
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 外存储写权限，构建语法需要用到此权限 -->
    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalService"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name=".activity.userinfo.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.active.ActiveDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.active.ActiveListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ArticleListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.msgmind.MsgMindDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.msgmind.MsgRemindActivity"
            android:exported="false"
            android:label="@string/title_activity_msg_remind"
            android:theme="@style/Theme.MedicalService" />
        <activity
            android:name=".activity.shopChildView.LimitedTimeShop"
            android:exported="false" />
        <activity
            android:name=".activity.cateringServicesActivity.CateringSelectView"
            android:exported="false" />
        <activity
            android:name=".activity.propertyFiveBlessingsActivity.JudgeView"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.LogisticsView"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.SpecificationReSelect"
            android:exported="false" />
        <activity
            android:name=".activity.ChatView"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden|adjustResize" />
        <activity
            android:name=".activity.cateringServicesActivity.Order.PayOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cateringServicesActivity.Order.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.AfterSale"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.AddressManger"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.MyFav"
            android:exported="false" />
        <activity
            android:name=".activity.cateringServicesActivity.EatCar2"
            android:exported="false" />
        <activity
            android:name=".activity.cateringServicesActivity.EatCar1"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.CouponView"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.ShoppingCart"
            android:exported="false"
            android:theme="@style/Theme.MedicalService" />
        <activity
            android:name=".activity.shopChildView.OrderViewShop"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.SubmitOrderView"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.GoodDetailView"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.GoodSearchView"
            android:exported="false" />
        <activity
            android:name=".activity.shopChildView.ShopMyCenter"
            android:exported="false" />
        <activity
            android:name=".activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cateringServicesActivity.AddressMangerCatering"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.propertyFiveBlessingsActivity.CardServiceDetailMap"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.propertyFiveBlessingsActivity.CardServiceDetail"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.propertyFiveBlessingsActivity.OrderView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.propertyFiveBlessingsActivity.PropertyCardService"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WebView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.ImagingReport"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.BloodFat"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.bloodDataChildView.HealthAdvice"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.bloodDataChildView.BloodHistory"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.BloodOxygen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.BloodPressure"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.TipTimeComment"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.addMedicineChildView.FrequencyAdministration"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.addMedicineChildView.MedicineConfig"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.physicalExamination.SelectPhysicalExamination"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.physicalExamination.AddPhysicalExamination"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.physicalExamination.PhysicalExaminationTip"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.MyStep"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.AiDevice"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.HealthRecords"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.MedicalHistory2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.InfoDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.UseMadType"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.AddInfoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.AddMadActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.useMadChildView.AllMadActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.UseMedTip"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.AiChat"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.AiVisitActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.MedicalHistory"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AddUserActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.UserInfoInType"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TodoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LoginView"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Weather"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthcareChildActivity.AIBeg"
            android:exported="false" />
        <activity
            android:name=".activity.healthcareChildActivity.AiDeviceDoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".tools.RemindReceiver" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c61bde06a57c15d1335dd04fc4ad8f9e" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.medicalservice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>